/* src/app/login/login.component.css e src/app/register/register.component.css */

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h2 {
    text-align: center;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #3F7501;
    color: #040506;
    border: none;
    cursor: pointer;
  }
