.vehicles-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #3f7501;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #eeead9;
  font-family: 'Montserrat', sans-serif;
}

.button-group {
  margin-top: 20px;
}

.btn-action {
  padding: 10px 20px;
  background-color: #eeead9;
  color: #3f7501;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
}

.btn-action:hover {
  background-color: #d3cd97;
}

.vehicles-table {
  width: 100%;
  border-collapse: collapse;
}

.vehicle-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Spaziatura tra le schede */
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

}

.vehicle-card {
  background-color: #eeead9; /* Colore di sfondo chiaro */
  border: 1px solid #e0e0e0; /* Leggero bordo */
  border-radius: 8px; /* Angoli arrotondati */
  padding: 16px;
  width: 280px; /* Dimensione standard delle schede */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra per effetto tridimensionale */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: 'Montserrat', sans-serif;
}

.vehicle-card:hover {
  transform: translateY(-4px); /* Leggero sollevamento al passaggio del mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */
}

.vehicle-card h3 {
  margin: 0 0 8px;
  font-size: 1.2rem;
  color: #274900;
  font-family: 'Montserrat', sans-serif;
}

.vehicle-card p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #3f7501;
  font-family: 'Montserrat', sans-serif;
}

.vehicle-card strong {
  color: #274900;
  font-family: 'Montserrat', sans-serif;
}

.delete-btn {
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #dc3545; /* Colore rosso per il pulsante */
  color: #fff; /* Testo bianco */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.delete-btn:hover {
  background-color: #e74c3c; /* Colore più scuro al passaggio del mouse */
}
