/* src/app/home/home.component.css */
:host {
  font-family: 'Montserrat', sans-serif;
}

.home-container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #4CAF50;
}

h2 {
  color: #4CAF50;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
